$font-stack: "Helvetica"
$text-color: #fff
$text-color-secondary: #EFF6E0
$body-bg-color: #124559
$bg-color: #01161E
$bg-color-secondary: #598392
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, rgba(40,221,206,1) 10%, rgba(40,221,206,1) 59%, rgba(0,212,255,1) 100%)